* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', sans-serif;
  color: #282A3A;
  text-decoration: none;
  list-style: none;
  text-align: center;
  line-height: 1.5;
  transition: all 0.3s ease;
  background-color: #F8F8F2;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F8F2;
  color: #282A3A;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  
}

.dark-mode .main-header,
.dark-mode .banner-img,
.dark-mode .banner-container,
.dark-mode .intro-nav,
.dark-mode .profile-container,
.dark-mode .intro-text h2,
.dark-mode .intro-nav,
.dark-mode .tagline blockquote,
.dark-mode .featured-work,
.dark-mode #about,
.dark-mode .skills-list li,
.dark-mode .resume-btn {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .resume-btn:hover {
  background-color: #333333;
}

/* Dark Mode Toggle Button */
.dark-mode-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007acc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.dark-mode-btn:hover {
  background-color: #005f99;
}
.main-header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  z-index: 1000;
  
}

.banner-container {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #F8F8F2;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: background 0.3s ease;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.profile-container {
  position: sticky; /* Enables sticky positioning */
  top: 0; /* Distance from the top of the viewport */
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: -240px;
  margin-left: 30px; /* Align the aside to the right */
  position: relative;
  justify-content: center;
  z-index: 1;
  background-color: #F8F8F2;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 100%;
}


.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-right: 20px;
  flex-shrink: 0;
  background-color: #F8F8F2;
  padding: 4px;
}

.profile-text {
  margin-left: 20px;
  flex: 1;
  display: flex;
  color: #282A3A;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #F8F8F2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.profile-text h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #007acc;
  text-align: left;
  font-weight: bold;
}

.profile-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #282A3A;
  margin-top: 5px;
  text-align: left;
  line-height: 1.5;
  max-width: 600px;
  margin-bottom: 10px;
  font-weight: normal;
}



/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -40px;
    padding: 15px;
    width: 90%;
    margin: 0 auto;

  }
}

.intro-nav{
  
  background-color: #F8F8F2;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}


.intro-text h2 {
  font-family: 'Georgia', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007acc;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}


.tagline blockquote {
  font-family: 'Georgia', cursive;
  font-size: 1.2rem;
  margin: 20px auto;
  color: #ffffff;
  max-width: 600px;
  line-height: 1.5;
  padding: 10px 20px;
  background-color: #F8F8F2;
  border-left: 4px solid #007acc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;

}

.featured-work {
  margin-top: 30px;
  padding: 20px;
  background-color:#007acc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  
}

.featured-work h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-weight: normal;
  background-color:#007acc;
}

.work-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  transition: background 0.3s ease;
  background-color: #F8F8F2;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.work-list li a {
  text-decoration: none;
  color: #007acc;
  background-color: #f0f8ff;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background 0.3s;
  font-size: 1rem;
  
}

.work-list li a:hover {
  background-color: #d0eaff;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .work-list {
    flex-direction: column;
    align-items: center;
  }

  .intro-text h2 {
    font-size: 1.6rem;
  }

  .tagline blockquote {
    font-size: 1rem;
  }
}

/* About Me Section */
#about {
  color: #ffffff;
  margin-top: 30px;
  padding: 20px;
  background-color:#007acc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
}

#about h2 {
  color: #ffffff;
  background-color:#007acc;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-weight: normal;
  
}

#about h3 {
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color:#007acc;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  font-weight: normal;
  color: #ffffff;
}

#about p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.skills-list {
  list-style: none;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  transition: background 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}

.skills-list li {
  background-color: #f0f8ff;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 0.95rem;
  color: #333;
  text-align: center;
  border: 1px solid #d0eaff;
  transition: background 0.3s ease;
  font-weight: normal;
  color: #333;
  line-height: 1.5;
  max-width: 600px;
  margin-top: 10px;
 transition: color 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.resume-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 20px;
  background-color: #addeff;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s ease;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 50px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  width: 30%;
  
}

.resume-btn:hover {
  background-color: #005f99;
  color: #fff;

}

/* Mobile responsive */
@media (max-width: 600px) {
  #about h2 {
    font-size: 1.5rem;

  }

  .resume-btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    margin: 0 auto;
  }
}
